@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 16px;
    min-width: 340px;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .button-icon {
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .m-middle {
    margin: 0 auto;
  }

  .input-box {
    width: 100%;
    padding: 12px 16px;
    background-color: white;
    border: 2px solid #cccccc;
    border-radius: 10px;
    display: flex;
    gap: 20px;
  }
}

input {
  @apply p-0 m-0 outline-none appearance-none bg-none;
}
